/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--- header ----*/
#to-top{
    position: fixed;
    width: 100%;
    z-index: 200;
    background: white;
    background-size:cover;
    -webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.45);
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.45);
}
.header
{


}
/*.container
{
	width: 70%;
	margin: 0 auto;
}*/

.header-logo
{
    max-width:200px;
    width:200px;
	float:left;
}
.header-logo
{
	margin:0;
	padding:0;
}
.header-logo  a
{
    width:200px;
    margin:15px;
}
.header-nav
{
	text-align: right;
	float:right;
    margin-top: 2%;
}
.header-nav ul li 
{
	text-align:center;
	font-size:16px;
	display:inline-block;
}
.header-nav ul li a
{
    color: #002752;
	margin: 0 2em;
	font-weight: 700;	
}
.header-nav ul li a:hover
{
	color:#494747;
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header-nav ul li.active  a
{
	border-radius:7px;
	padding: .5em 1em;
	background: #FFFFFF;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header-nav ul li.active a
{
	color:#2380B8;
}
.header-nav ul li.active :hover
{
	background:#2380B8;
}
.header-nav ul li.active a:hover
{
	color:#FFFFFF;
}
.banner{
    background: linear-gradient(rgba(138, 171, 229,0.2), white);
}
.inaccred_banner{
    background: linear-gradient(rgba(138, 171, 229,0.2), white);
    padding-bottom:50px;
}
.incrm_banner{
    background: linear-gradient(rgba(127, 187, 184,0.2), white);
    padding-bottom:50px;
}
.incashless_banner{
    background: linear-gradient(rgba(151, 121, 188,0.2), white);
    padding-bottom:50px;
}
.incashless_banner .divise-info .typewrite{
    color: rgb(151, 121, 188);
}
.incrm_banner .divise-info .typewrite{
    color: rgb(127, 187, 184);
}

.inteam_banner{
    background:#1D9FC4;
}
.divise-info
{
    margin-top:100px;
    margin-bottom:20px;
	color: rgb(51, 51, 51);;
}
.divise-info h1
{
	font-weight:200;
	font-size:60px;
}

.divise-info p
{
	font-size:18px;
    margin-bottom: unset;
}
.divise-info p span
{
	display:block;
}
.get 
{
    margin:25px;
}
.get  a
{
	padding:01em 1.5em;
	border: #8eb0e7 solid 2px;
	background:#8eb0e7;
	color:#FFFFFF;
	font-weight:700;
	border-radius:7px;
}
.get  a:hover
{
	background:#FFFFFF;
	color:#8eb0e7;
	text-decoration:none;
	border: #8eb0e7 solid 2px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.divise-info p.text
{
	color:#B4B3B3;
	font-size:14px;
	margin-top: 7%;
}
.divise-info p.text span
{
	display:block;
}

.divise-info .typewrite
{
    color:#8eb0e7;
}

.header-bg
{
}
/*--- content ----*/
.content
{
}
.content #services
{
   padding-top:50px;
    padding-bottom:100px;
}
.content-crm{
    background:rgb(127, 187, 184);
    background-attachment: fixed;background-size: cover;
    color:white;
}
.content-crm #crm
{
    padding-top:50px;
    padding-bottom:50px;
}
.content-crm #crm img
{
   position:relative;
    top:-100px;
}
.content-accred #accred img
{
    position:relative;
    top:-106px;
}
.content-accred{
    background:rgba(142, 176, 231, 1);
    color:white;

}
.content-accred #accred
{
    padding-top:50px;
    padding-bottom:50px;
}
.content-cashless
{
    background-size: cover;
    background:url(../images/home/inevents_background_triangle.png) no-repeat 0px 0px;
    padding-bottom:50px;
}
.content-cashless #cashless
{
    padding-top:50px;
    padding-bottom:50px;
}
.content-counter {
    background:rgba(241, 183, 185, 1);
    padding-top:50px;
    padding-bottom:50px;
    color:white;
}
#row_counter strong{
    font-size:45px;
}

.content-clients #clients
{
    padding-top:50px;
    padding-bottom:50px;
}
.content-girds
{
	text-align:center;
}
.service-grid
{
	text-align:center;
}

.service-grid h2 a
{
	font-size:24px;
	
	font-weight: 700;
	color:black;
}
.service-grid h2 a:hover
{
	color:#BFBFBF;
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.service-grid span
{
	display:block;
}
.service-grid p
{
	font-size:14px;
	
	color:#999898;	
}

/*--- content-recent-works ----*/
.recent-works-text
{
	text-align:center;
	padding:4% 0;
}
.portfolio-text h2 {
font-size: 37px;

font-weight: 700;
color: #1C8DD5;
}
.portfolio-text p {
font-size: 14px;

color: #999898;
}
.portfolio-text span {
display: block;
}
/*--------------------------------------------------------------
# Client
--------------------------------------------------------------*/
.ftco-section-featured {
    margin-top: -250px;
    padding-bottom: 7em; }
.ftco-section-featured .container {
    position: relative; }
.ftco-section-featured .container .owl-carousel .owl-stage-outer {
    padding-bottom: 2em; }
.ftco-section-featured .container .carousel img {
    border: 1px solid #f4f4f5; }

.content-clients .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.content-clients .owl-item img {
    height: 80%;
    opacity: 0.5;
    transition: 0.3s;
}

.content-clients .owl-item img:hover {
    opacity: 1;
}

.content-clients .owl-nav, .content-clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.content-clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fbe2d8 !important;
}

.content-clients .owl-dot.active {
    background-color: #133bb3 !important;
}

.subheading{
    margin-top:25px;
}

#section-counter{
    margin-top: 53px;
}

.devise-chiffre{
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}

.owl-carousel {
    position: relative; }
.owl-carousel .owl-item {
    opacity: .4; }
.owl-carousel .owl-item.active {
    opacity: 1; }
.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 0; }
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
    font-size: 40px; }
.owl-carousel .owl-nav .owl-prev {
    left: 0; }
.owl-carousel .owl-nav .owl-next {
    right: 0; }
.owl-carousel .owl-dots {
    text-align: center; }
.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #dadadc; }
.owl-carousel .owl-dots .owl-dot.active {
    background: #133bb3; }
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1; }
.owl-carousel:hover .owl-nav .owl-prev {
    left: -20px; }
.owl-carousel:hover .owl-nav .owl-next {
    right: -20px; }

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y; }

.owl-custom-nav {
    float: right;
    position: relative;
    z-index: 10;
    border: 1px solid red; }
.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block; }




.about h3 {
    font-weight: 700;
    font-size: 34px;
    font-family: "Work Sans";
}

.about h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;

}

.about i {
    font-size: 48px;
    margin-top: 15px;
    color: #f39e7a;
}

.about p {
    font-size: 15px;
    color: #5a6570;
}

@media (max-width: 991px) {
    .about .about-img img {
        max-width: 70%;
    }
}

@media (max-width: 767px) {
    .about .about-img img {
        max-width: 90%;
    }
}
#titleCRM{

    color: #31c136 ;
    font-family: "Work Sans";
}

/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:left;
	padding: 9% 0 0 14%;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-wrapper:hover {
	background: rgba(28, 141, 203, 0.78);
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top:33%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
ul#filters {
	padding: 0px;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
	display:inline-block;
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -o-inline-box;
		display: -ms-inline-box;
	}
	#filters li span.active {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	background: #1C8DD5;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	
	font-weight: 700;
	border: solid 2px #FFFFFF;
	border-radius: 7px;
}
	#filters li span {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #1C8DD5;
	cursor: pointer;
	font-size: 18px;
	
	font-weight: 700;
	border: solid 2px #FFFFFF;
	border-radius: 7px;
}
	#filters li span:hover {
		border: solid 2px #1C8DD5;
	border-radius: 7px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 31%;
		display: none;
		float: left;
		overflow: hidden;
		margin: 1%;
	}
	div#portfoliolist {
		padding: 0px 0px;
}	
	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
	.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
/*.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }*/
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*----- effects-comman-css------*/
.contenthover{
	padding:1em;
}
.contenthover h3{
	color:#FFF;
}
.contenthover p{
	color:#FFF;
	font-size:0.875em;
	line-height:1.5em;
}
/*-----caption ------*/
.caption
{
	text-align:left;
	margin-left:9%;
}
.caption h3{
	color:#FFF;
	
	font-weight: 700;
	font-size:1.8em;
}
.caption  p
{
	text-align:left;
	font-size:14px;
}
.caption small
{
	display:block;
	text-align:left;
	font-size:14px;
}
p.b-animate.b-from-left.b-delay03 
{
	
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
}
p.b-animate.b-from-left.b-delay03 small
{
	display:block;
	font-size: 16px;
}
h2.b-animate.b-from-left.b-delay03 {

font-size: 28px;
}
/*--- our-team ---*/
.our-team
{
	background:#1C8DD5;
	padding:4% 0;
}
.our-team-left-grid h2
{
	font-size: 32px;
	color: #FFFFFF;
	
	margin-top: 2%;
	font-weight: 700;
}
.our-team-left-grid p
{
	font-size:16px;
	color:#FFFFFF;
	
	font-weight:300;
	margin: 8% 0 12% 0;
}
.our-team-left-grid a
{
	background:#FFFFFF;
	
	font-size:16px;
	color:#1C8DD5;
	border-radius:7px;
	padding:.5em 1em;
}
.our-team-left-grid a:hover
{
	text-decoration:none;
	color:#1C8DD5;
	background:#125E8F;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.our-team-left-grid span
{
	display:block;
}
.grid-right-left
{
	background:#FFFFFF;
	padding:2%;
	text-align:center;
	border-radius:5px;
}
.grid-right-left-img
{
	background:url(../images/team-img.png) no-repeat 0px 0px;
	width:120px;
	height:118px;
	display: inline-block;
	margin-top: 10%;	
}
.grid-right-left h4 a
{
	color:#1C8DD5;
	
	font-size:18px;
	font-weight:700;
}
.grid-right-left h4 a:hover
{
	text-decoration:none;
	color:#BFBFBF;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.grid-right-left p
{
	color:#A6A3A3;
	
	font-size:16px;
}
.icons 
{
	text-align: center;
	margin: 15% 0 10% 0;
}
.icons  ul 
{
	margin:0;
	padding:0;
}
.icons  ul li
{
	display:inline-block;
	margin-left: 4%;
}
.icons  ul li.icon1 a small
{

	width:24px;
	height:24px;
	display: inline-block;
}
.icons  ul li.icon2 a small
{

	width:24px;
	height:24px;
	display: inline-block;
}
.icons  ul li.icon3 a small
{

	width:24px;
	height:24px;
	display: inline-block;
}
.icons  ul li.icon1 a small:hover
{

	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.icons  ul li.icon2 a small:hover
{

	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.icons  ul li.icon3 a small:hover
{

	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.grid-right-middle-img
{

	width:120px;
	height:118px;
	display: inline-block;
	margin-top: 10%;	
}
.grid-right-right-img
{

	width:120px;
	height:118px;
	display: inline-block;
	margin-top: 10%;	
}
/*--- latest-posts ---*/
.latest-posts 
{
	padding: 6% 0;
}
.latest-posts-text 
{
	text-align:center;
	margin-bottom: 5%;
}
.latest-posts-text h2
{
	color:#1C8DD5;
	
	font-weight:700;
	font-size: 38px;
}
.latest-posts-text p
{
	
	font-size:16px;
	color:#BCBBBB;
}
.latest-posts-text span
{
	display:block;
}
.latest-posts-grid-left img
{
	width:100%;
}
.latest-posts-grid-right h2 a
{
	color:#1C8DD5;
	
	font-weight:700;
	font-size: 28px;
	margin-top: 7%;
	text-decoration:none;
}
.latest-posts-grid-right h2 a:hover
{
	color:#A9A9A9;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.latest-posts-grid-right span
{
	display:block;
	
	font-weight: 700;
	color:#949393;
	font-size:18px;
}
.latest-posts-grid-right p
{
	
	color:#B5B1B1;
	font-size:16px;
}
.latest-posts-grid-right small
{
	display:block;
	font-size: 16px;
}
.latest-posts-bottom-grids
{
	margin-top:2%;
}
/*--- contact-us ---*/
.content-contact 
{
	position: relative;
	min-height: 456px;
}
.map
{
	position:relative;
}
.map iframe
{
	width: 100%;
	min-height: 481px;
	border: none;
	position: absolute;
}
.contact-us
{
	background: rgba(48, 138, 194, 0.56);
	width: 100%;
	padding: 1.65em 0;
	top: 0;
	right: 0;
	position: absolute;
}
.contact-us-text 
{
	text-align:center;
	margin: 5% 0;
}
.contact-us h2
{
	color:#FFFFFF;
	
	font-weight:700;
	font-size: 38px;
}
.contact-us p
{
	
	font-size:16px;
	color: #EAF4F7;
	position:relative;
}
.contact-us span
{
	display:block;
}
.text-fields
{
	width:60%;
	margin:0 auto;
}
.location a span
{
	position: absolute;
	top: 21%;
	right: 9%;
}
.location a span img
{
	width:100%;
}
.text-fields-left form input[type="text"] 
{
	width:100%;
	padding: 3%;
	
	font-weight:600;
	font-style:italic;
	color:#E5E5E5;
	outline:none;
	border-radius: 8px;
	border: solid 2px #FFFFFF;
	margin-bottom: 2.5%;
}
.text-fields-left form input[type="text"]:hover
{
	color:#1C8DD5;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.text-fields-right 
{
	padding: 0;
}
.text-fields-right textarea
{
	width:100%;
	resize:none;
	padding: 3%;
	
	font-weight:600;
	font-style:italic;
	color:#E5E5E5;
	outline:none;
	border-radius: 8px;
	border: solid 1px #FFFFFF;
	margin-bottom: 5%;
}
.text-fields-right textarea:hover
{	
	color:#1C8DD5;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.button-sub
{
	margin: 2% 0 0 43%;
}
.button-sub form input[type="submit"]
{
	padding: 01em 1.5em;
	border: #1C8DD5 solid 2px;
	background: #1C8DD5;
	color: #FFFFFF;
	
	font-weight: 700;
	border-radius: 7px;
}
.button-sub form input[type="submit"]:hover
{
	background: #FFFFFF;
	color: #1C8DD5;
	text-decoration: none;
	border: #1C8DD5 solid 2px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--- footer ---*/
.footer
{
/*	background:rgba(138, 171, 229);*/
	padding:2% 0;
}
.footer-left
{
	float:left;
}
.footer-left  h2 
{
	margin:0;
	padding:0;
}
.copy-right 
{
	text-align: center;
}
.copy-right p 
{
	
	font-weight:600;
	color: #FFFFFF;
	margin: 0;
}
.copy-right p a
{
	color: #FFFFFF;
	text-decoration:none;
}
.copy-right p a:hover
{
	color: #0A486F;
}
.footer-left  h2 a
{
	color:#FFFFFF;
	
	font-weight:700;
	text-decoration:none;
	font-size: 45px;
}

.footer-right ul
{
	margin: 0;
	padding:0;
}
.footer-right ul li
{
	display:inline-block;
}
.footer-right ul li a span
{
	background:url(../images/social-icons.png) no-repeat 0px 0px;
	width:32px;
	height:32px;
	display: inline-block;
	margin: 0 .5em;
}
.footer-right ul li a span:hover
{
	background:url(../images/social-icons1hr.png) no-repeat 0px 0px;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.footer-right ul li a span.twitter
{
	background:url(../images/social-icons.png) no-repeat -44px 0px;
	width:32px;
	height:32px;
	display: inline-block;
	margin: 0 .5em;
}
.footer-right ul li a span.twitter:hover
{
	background:url(../images/social-icons1hr.png) no-repeat -44px 0px;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.footer-right ul li a span.in
{
	background:url(../images/social-icons.png) no-repeat -90px 0px;
	width:32px;
	height:32px;
	display: inline-block;
	margin: 0 .5em;
}
.footer-right h3{
    margin-top:0;
}
.footer-right ul li a span.in:hover
{
	background:url(../images/social-icons1hr.png) no-repeat -90px 0px;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
/*----- to-top ----*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/home/inevents_to-top.png") no-repeat 0px 0px;
    z-index:600;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
span.menu:before
{
	content:url(../images/nav-icon.png) no-repeat 0px 0px;
	color:#999;
	text-decoration:none;
	display:block;
	text-transform:uppercase;
	cursor:pointer;
}
.header-nav span.menu
{
	display:none;
}

/*----- responsive-design ------*/
@media (max-width:1280px)
{
	.divise-info h1 
	{
		font-size: 50px;
	}
	.divise-info p 
	{
		font-size: 16px;
	}
	.get 
	{
		margin-top: 19%;	
	}
	.portfolio-text h2 
	{
		font-size: 32px;
	}
	#filters li span 
	{
		padding: 6px 14px;
		font-size: 16px;
	}
	#filters li span.active
	{
		padding: 6px 14px;
		font-size: 16px;
	}
	h2.b-animate.b-from-left.b-delay03 
	{
		font-size: 24px;
	}
	p.b-animate.b-from-left.b-delay03 
	{
		font-size: 14px;
	}
	p.b-animate.b-from-left.b-delay03 small 
	{
		ont-size: 14px;
	}
	.latest-posts-text h2 
	{
		font-size: 32px;
	}
	.latest-posts-text p 
	{
		font-size: 14px;
	}
	.latest-posts-grid-right h2 a 
	{
		font-size: 26px;
	}
	.latest-posts-grid-right span 
	{
		font-size: 14px;
	}
	.contact-us 
	{
		padding: 1.96em 0;
	}
	.contact-us h2 
	{
		font-size: 32px;
	}
	.contact-us p 
	{
		font-size: 14px;
	}
}
@media (max-width:1024px)
{
	.header-logo  a
	{
		font-size: 43px;
	}
	.header-nav ul li a 
	{
		margin: 0 1.5em;
	}
	.divise-info
	{
		text-align:center;
        margin-top:50px;
        padding-top:unset;
	}
	.divise-info h1 
	{
		font-size: 45px;
	}
	.get 
	{
		margin-top: 15%;
	}
	.divise-info p 
	{
		margin-top: 4%;
	}
	.our-team-left-grid p 
	{
		font-size: 13px;
		font-weight: 400;
	}
	.latest-posts-grid-right p 
	{
		font-size: 13px;
		font-weight: 400;
	}
	.latest-posts-grid-right small 
	{
		font-size: 13px;
		font-weight: 400;
	}
	.contact-us 
	{
		padding: 3.1em 0;
	}
    #cashless .text-right,
    #accred .text-left,
    #crm .text-left{
        text-align:center;
    }
    .content-cashless{
        padding-bottom:unset;
    }

    #accred img,
    #cashless img,
    #crm img{
        margin-top:50px;
        top: unset !important;
    }

    #services .content-girds .wow{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #services{
        padding-top: 5px !important;
        padding-bottom: 10px !important;
    }
}

@media (max-width:768px)
{

    .testimony-wrap p {
        font-size: 10px !important;
    }

    #row_counter .text{
        margin-bottom:55px;
    }
	/*----- resposnive-menu -----*/
	.header-nav 
	{
		float: none;
	}
	.header-nav ul
	{
		display:none;
	}
	.header-nav ul li 
	{
		font-size: 16px;
		display:block;
		padding: 2% 0;
	}
	.header-nav span.menu
	{
		display:block;
	}
	.header-nav ul
	{
		margin: 0;
		padding: 2% 0;
		z-index: 999;
		position: absolute;
		width: 96%;
		background: rgba(47, 187, 142, 0.64)
	}
    #services .content-girds .wow{
        margin-top:0px;
        margin-bottom: 0px;
    }

	.divise-info 
	{
		margin-top: 20%;
		text-align: center;
	}
	.divise-info  h1
	{
	}
    #toptotop{
       height: 70px !important;
    }

	.divise-info p 
	{
		color: #999898;
	}
	.header
	{

	}
	.header-bg 
	{

	}
	.divise-info h1
	{
		font-size: 40px;
	}
	.divise-info p 
	{
		font-size: 14px;
	}
	.get 
	{
		margin-top: 6%;
	}
	.divise-info p.text 
	{
		font-size: 13px;
	}
	.service-grid 
	{
		margin: 5% 0;
	}
	.portfolio-text h2 
	{
		font-size: 30px;
	}
	.portfolio-text p 
	{
		font-size: 13px;
	}
	#filters li span.active 
	{	
		font-size: 13px;
	}
	#filters li span 
	{
		font-size: 13px;
	}
	h2.b-animate.b-from-left.b-delay03 
	{
		font-size: 19px;
	}
	.b-link-stripe .b-wrapper 
	{
		padding: 0% 0 0 5%;
	}
	p.b-animate.b-from-left.b-delay03 
	{
		font-size: 13px;
	}
	p.b-animate.b-from-left.b-delay03 small 
	{
		font-size: 13px;
	}
	.our-team-left-grid 
	{
		text-align: center;
	}
	.our-team-left-grid p 
	{
		margin: 3% 0 5% 0;
		font-size: 15px;
	}
	.grid-right-left 
	{
		width: 53%;
		margin: 6% auto;
		padding: 4%;
	}
	.icons 
	{
		margin: 5% 0 0 0;
	}
	.latest-posts-grid-left 
	{
		width: 51%;
		margin: 0 auto;
	}
	.latest-posts-grid-right 
	{
		text-align: center;
	}
	.latest-posts-text h2 
	{
		font-size: 28px;
	}
	.latest-posts-grid-right h2 a 
	{
		font-size: 23px;
	}
	.contact-us h2 
	{
		font-size: 28px;
	}
	.text-fields-left form input[type="text"] 
	{
		width: 93%;
	}
	.text-fields-right textarea 
	{
		width: 93%;
	}
	.content-contact 
	{
		min-height: 615px;
	}
	.contact-us 
	{
		padding: 2.05em 0;
	}
	.map iframe 
	{
		min-height: 615px;
	}
	.location a span 
	{
		top: 25%;
		right: 3%;
		width: 20%;
	}
	.button-sub 
	{
		margin: 2% 0 0 34%;
	}
	.footer-left 
	{
		width: 30.333%;
	}
	.footer-left h2 a 
	{
		font-size: 41px;
	}
}
@media (max-width:640px)
{
	/*.container
	{
		width: 95%;
		margin: 0 auto;
	}*/
	.header-nav ul 
	{
		padding: 1.5% 0;
		margin: 0;
	}
	.mobile-divise 
	{
		margin: 11% auto;
	}
	.mobile-divise img 
	{
		width: 100%;
	}
	.header-bg 
	{

	}
	p.b-animate.b-from-left.b-delay03 
	{
		font-size: 10px;
	}
	p.b-animate.b-from-left.b-delay03 small 
	{
		font-size: 10px;
	}
	.content-contact 
	{
		min-height: 564px;
	}
	.map iframe 
	{
		min-height: 564px;
	}
	.contact-us 
	{
		padding: 2.1em 0;
	}
}
@media (max-width:480px)
{
    .divise-info .dynamix-infos{
        min-height : 132px;
    }
    .mobile-dv-hide{
        display:none;
    }
    .mobile-dv-show{
        display:block;
    }
    .content-cashless #cashless,
    .content-accred #accred,
    .content-crm #crm
    {
        padding-top:0px;
        padding-bottom:0px;
    }
	.header 
	{

	}
	.header-nav ul 
	{
		width: 90%;
	}
	.header-bg 
	{

	}
	#portfoliolist .portfolio 
	{
		width: 74%;
		float: none;
	}
	#filters li span.active 
	{
		font-size: 12px;
	}
	#filters li span 
	{
		font-size: 12px;
	}
	.header-nav ul li.active a 
	{
		padding: .4em 1em;
	}
	p.b-animate.b-from-left.b-delay03 
	{
		font-size: 16px;
	}
	p.b-animate.b-from-left.b-delay03 small 
	{
		font-size: 16px;
	}
	.b-link-stripe .b-wrapper 
	{
		padding: 9% 0 0 11%;
	}
	.grid-right-left 
	{
		width: 92%;
	}
	.latest-posts-text h2 
	{
		font-size: 30px;
	}
	.latest-posts-text p 
	{
		font-size: 16px;
	}
	.latest-posts-grid-right p 
	{
		font-size: 16px;
	}
	.text-fields 
	{
		width: 80%;
	}
	.location a span 
	{
		top: 88%;
		right: 38%;
		width: 34%;
	}
	.text-fields-left form input[type="text"] 
	{
		width: 100%;
	}
	.text-fields-right textarea 
	{
		width: 100%;
	}
	.footer-left 
	{
		width: 24.333%;
	}
	.latest-posts-grid-right small 
	{
		font-size: 16px;
	}
	.footer-left h2 a 
	{
		font-size: 35px;
	}
	.latest-posts-grid-left 
	{
		width: 80%;
	}
	.content-contact 
	{
		min-height: 545px;
	}
	.map iframe 
	{
		min-height: 545px;
	}	
	.contact-us 
	{
		padding: 2.15em 0;
	}
	.location a span img 
	{
		display: none;
	}
}
@media (max-width:320px)
{
	.mobile-divise 
	{
		width: 80%;
	}
	.divise-info h1 
	{
		font-size: 30px;
	}
	.divise-info p 
	{
		font-size: 12px;
	}
	.get a 
	{
		padding: .5em 1em;
	}
	.get 
	{
		margin-top: 12%;
	}
	.header-bg 
	{

	}
	.divise-info p.text 
	{
		font-size: 12px;
	}
	.b-link-stripe .b-wrapper 
	{
		padding: 2% 0 0 8%;
	}
	h2.b-animate.b-from-left.b-delay03 
	{
		font-size: 16px;
	}
	p.b-animate.b-from-left.b-delay03 
	{
		font-size: 11px;
	}
	p.b-animate.b-from-left.b-delay03 small 
	{
		font-size: 11px;
	}
	.content-contact 
	{
		min-height: 471px;
	}
	.map iframe 
	{
		min-height: 471px;
	}
	.our-team-left-grid p 
	{
		font-size: 11px;
	}
	.our-team-left-grid h2 
	{
		font-size: 28px;
	}
	.latest-posts-text h2 
	{
		font-size: 28px;
	}
	.latest-posts-text p 
	{
		font-size: 13px;
	}
	.latest-posts-grid-right p 
	{
		font-size: 12px;
	}
	.latest-posts-grid-right small 
	{
		font-size: 12px;
		display:none;
	}
	.contact-us p 
	{
		font-size: 13px;
	}
	.contact-us span 
	{
		display: none;
	}
	.button-sub 
	{
		margin: 2% 0 0 30%;
	}
	.button-sub form input[type="submit"] 
	{
		padding: .5em .8em;
	}
	.copy-right p 
	{
		margin-top: 4%;
	}
}
/*----- responsive-end ------*/

.heading-section .subheading {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.2); }

.heading-section h2 {
    font-size: 34px;
    font-weight: 400; }
@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px; } }

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.7); }

.heading-section.heading-section-white h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 300 !important; }

.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }


.testimony-wrap {
    background: #fff;
    display: block;
    position: relative;
    border: 1px solid #e7e7e8; }
.testimony-wrap .user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative; }
.testimony-wrap .user-img .quote {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 40px;
    height: 40px;
    background: #79efb4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
.testimony-wrap .user-img .quote i {
    color: #fff; }
.testimony-wrap .name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    color: #404044; }
.testimony-wrap .position {
    font-size: 13px;
    color: #c0c0c3; }
.testimony-wrap .star-rate {
    font-size: 12px; }
.testimony-wrap .star-rate span {
    margin-left: 1px;
    margin-right: 1px;
    color: #78d5ef; }
.testimony-wrap .text{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: #8b8b92;
    margin:50px;
}
.testimony-wrap p{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: #8b8b92;
}

#avis{
    margin:50px;
}

#avis .section-title{
    text-align: center;
}
#avis .carousel-testimony{
    margin-top:25px;
}

#avis .carousel-testimony .testimony-wrap{
    max-height:470px !important;
}

#avis .carousel-testimony .user-img{
    margin-top:20px;
    margin-bottom:20px;
}
footer ul li{
    padding:10px;
}
footer{
    padding-top:50px;
/*    background:rgba(138, 171, 229,0.2);*/
    background-color: #F7F7F7;
}
.ftco-heading-2-link{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}

#services h2 {
    margin-top:0px;
    color: #7fbbb8 !important;
}
#services-marketing h2 a,
#services-crm h2 a {
    color: #7fbbb8 !important;
}
#services-accred h2 a {
    color: #8eb0e7 !important;
}
#services-cashless h2 a{
    color: #9778bc !important;
}

#toptotop{
    height:50px;
    visibility: hidden;
}
.service-grid:hover{
    transform: scale(1.1);
}

#row_counter .text .anim-counter:hover {
    transform: scale(1.5);
}

/***IN ACCRED**/
#inaccred_images1{
    background-size: cover;
    background:url(../images/inaccred/inevents_inaccred_1.png) no-repeat 0px 0px;
}
.inaccred_info_logo{
    color:white; margin:10px;
}
.inaccred_about{
    margin:50px;
}
.team {
    background: #fff;

}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
}

.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.team .member .social {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(78, 64, 57, 0.6);
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    display: block;
    color: #fff;
    margin-top: 15px;
}

.team .member .social a:hover {
    color: #eb5d1e;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(29, 159, 196, 0.95) 0%, rgba(29, 159, 196, 0.95) 15%, rgba(255, 255, 255, 0) 40%);
    opacity: 1;
    transition: 0.4s;
}

.team .member:hover .member-info-content {
    bottom: 30px;
    transition: bottom 0.4s;
}

.team .member:hover .social {
    left: 0;
    transition: left ease-in-out 0.3s;
}

#teamjs .progress{
    padding:0px;
    margin-top:10px;
}
.item_teams_progress{
    margin-top:5px;
    margin-bottom:5px;
}
.progress-bar{
    background-color: white;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.progress {
    border:1px solid white;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    background-color:unset;
}